<div class="jumbotron jumbotron-fluid bg-dark text-light">
    <div class="container text-center">
        <h1 class="">SERVICES</h1>
        <p class="lead">What We Offer</p>
    </div>
</div>

<!-- Erfahrungsberichte-->
<section class="p-5">
    <div id="service" class="container text-center bg-grey">
        <div class="row text-center">
            {{#if services}}
            {{#each services}}
            <div class="col-sm-4">
                <div class="thumbnail bg-light pt-3" style="border-radius: 5px;">
                    <img src="{{image}}" alt="Nick">
                    <p><strong>{{title}}</strong></p>
                    {{#if user}}

                    {{else}}
                    <a class="btn btn-dark" href="/review/{{id}}"> Submit Review</a>
                    {{/if}}
                </div>
            </div>
            {{/each}}
            {{else}}
            <div class="col-sm-12 text-center p-5">
                <h1>No Service Register Here</h1>
                <p>Please check back </p>
            </div>
            {{/if}}
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="container-fluid text-center">
    <a href="#myPage" title="Nach oben">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
</footer>